node_modules/
npm-debug.log
.DS_Store
.idea/
.vscode/
yarn.lock
yarn-error.log
**/bower_components/
**/node_modules/
**/.vscode/settings.json
*.DS_Store
npm-debug.log
lerna-debug.log
**/reports/
coverage/
